<h2>All Superheroes</h2><br />

<%= form_tag superheroes_search_path, method: "get" do %>
  <%= label_tag(:superpower_name, "Search By Superpower:") %><br />
  <%= text_field_tag(:superpower_name) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
