<h2>All Superheroes</h2>


<%= form_tag(superpowers_path, method: 'get') do %>
  <%= label_tag(:superpower_id, "Search by Superpower") %>
  <%= text_field_tag(:superpower_id) %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero %>
    </li>
    <br>
  <% end %>
</ul>
