<h1>Make your own Superhero!</h1>
<div>


<%= form_for @superhero do |f| %>
  <%= f.label :name, "Human Name: " %>
  <%= f.text_field :name %>

  <br />
  <%= f.label :super_name, "Super Name: " %>
  <%= f.text_field :super_name %>

  <br />
  <%= f.label :superpower_id, "Superpower: " %>
  <%= f.collection_select(:superpower_id, @superpowers, :id, :name) %>

  <%= f.submit %>
<% end %>



</div>
